.vscode/**
.vscode-test/**
node_modules/**
client/node_modules/**
server/node_modules/**
shared/**
client/src/**
server/src/**
**/tsconfig*.json
**/*.map
.gitignore

!server/node_modules/vscode-html-languageservice/**